
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              <a href="https://appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon" class="ml-1" >Flask Boilerplate Dashboard Argon</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                &copy; <a href="https://www.creative-tim.com/product/argon-dashboard">Creative Tim</a> Coded by AppSeed
              </li>
            </ul>
          </div>
        </div>
      </footer>
